* {
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
  
html {
  user-select: none;
}

p {
  margin: 0;
}

.layout-leveling {
  position: absolute;
  left: 130px;

  & .layout-leveling-zone {
    background-color: #343434dd;
    color: white;
    padding: 5px 5px 5px 20px;
    border-bottom: 1px solid white;
  }

  & .layout-leveling-detail {
    color: white;
    font-size: 0.8rem;
    background-color: #34343477;
    padding: 10px;
  }
}

.layout-gem {
  position: absolute;

  & .layout-gem-zone {
    background-color: #343434dd;
    color: white;
    padding: 5px 5px 5px 20px;
    border-bottom: 1px solid white;
  }

  & .layout-gem-detail {
    color: white;
    font-size: 0.7rem;

    & .link {
      margin: 10px 0px;
      & > div {
        padding: 2px 5px;
        display: flex;
        align-items: center;
        
        & > img {
          width: 20px;
          height: 20px; 
          margin-right: 5px;
        }
      }
    }
  }
}

.layout-guide {
  position: absolute;
  background: #34343477;
  color: white;
  right: 0;
  text-align: right;
  top: 282px;

  & .layout-guide-zone {
    border-bottom: 1px solid white;
    margin: 10px;
  }

  & .layout-guide-detail {
    font-size: 0.8rem;

    & p {
      padding: 0 5px;
    }
  }
}

