* {
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
  
html {
  user-select: none;
}

p {
  margin: 0;
}

.layout-leveling {
  position: absolute;

  & .layout-leveling-zone {
    background-color: #343434dd;
    color: white;
    padding: 5px 5px 5px 20px;
    border-bottom: 2px solid white;
  }

  & .layout-leveling-detail {
    color: white;
    font-size: 0.8rem;
    background-color: #34343477;
    padding: 10px;
  }
}

